{% extends 'base.html' %}
{% block title %}Product{% endblock title %}
{% block body %}
{% load static %}
<script>
    $(document).on('click', '.page_link',  function(){
      var page_no = $(this).attr('data-item');      
        $.ajax({
            type: "POST",
            // define url name
            url: "{% url 'product' %}", 
            data : {    
            page_no : page_no, 
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          // handle a successful response
          success: function (response) {
            $('#data_list').html('')
            $.each(response.results, function(i, val) {
              var edit_path = "{% url 'edit' 1 %}"
              var edit_path = "{% url 'delete' 1 %}"
              html_data = '<tr><td scope="row"><img src="'+val.image+'" class="rounded-circle" style="height: 70px; width: 70px;" alt="img"></td>'+
              '<td>'+val.product_name+'</td>'+
              '<td>'+val.available_quantity+'</td>'+
              '<td>'+val.price+'</td>'+
              '<td><a href="'+edit_path+'" class="btn btn-success btn-sm"> edit</a>'+
              '<form action="{% url 'product' %}" method="POST" class="d-inline">'+
              '<input type="submit" class="btn btn-danger btn-sm" value="Delete" >'+
              '</form></td></tr>';
              $('#data_list').append(html_data)
            });
          },
          error: function () {
            alert('Error Occured');
          }
        }); 
    });  
    
	</script>
<div class="container my-3">  
<!------ Include the above in your HEAD tag ---------->
<div class='row'>
  <div class=col-md-6>
    <form class="form-horizontal" method='post' action='' enctype="multipart/form-data">
      <fieldset>
    
      <!-- Form Name -->
      <legend>PRODUCTS</legend>
        {% csrf_token %}
    
      <!-- Text input-->
      
      <div class="form-group my-3">
        <label class="col-md-8 control-label" for="product_name">Product Name</label>  
        <div class="col-md-8">
        <input id="product_name" name="product_name" placeholder="Product Name" class="form-control input-md" required="" type="text">
          
        </div>
      </div>
    
      <!-- Text input-->
      <div class="form-group  my-3">
        <label class="col-md-8 control-label" for="available_quantity">Quantity</label>  
        <div class="col-md-8">
        <input id="available_quantity" name="available_quantity" placeholder="Available Quantity" class="form-control input-md" required="" type="number" >
          
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group  my-3">
        <label class="col-md-8 control-label" for="price">Price</label>  
        <div class="col-md-8">
        <input id="price" name="price" placeholder="Price in Rupees" class="form-control input-md" required="" type="number" >
          
        </div>
      </div>
    
      <!-- File Button --> 
      <div class="form-group my-3">
        <label class="col-md-8 control-label" for="filebutton">Product Image</label>
        <div class="col-md-8">
          <input id="image" name="image" class="input-file" type="file" accept="image/*">
        </div>
      </div>
      <!-- Button -->
      <div class="form-group my-3">    
        <div class="col-md-8">
          <input id="singlebutton" name="singlebutton" value="Save Product" class="btn btn-primary" type="submit" />
        </div>
        </div>
    
      </fieldset>
      </form>
  </div>
  <div class=col-md-6>
    <h4 class="text-center">Product List</h4>
        
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id='data_list'>
                {% if products %}
                  {% for product in products %}
                  
                <tr>
                  <td scope="row"><img src="{{ MEDIA_URL }}{{product.image}}" class='rounded-circle' style="height: 70px; width: 70px;" alt='img'></td>
                  <td>{{product.product_name}}</td>
                  <td>{{product.available_quantity}}</td>
                  <td>{{product.price}}</td>
                  <td>
                      <a href="{% url 'edit' product.id %}" class="btn btn-success btn-sm"> edit</a>
                      <a href="{% url 'cart' product.id %}" class="btn btn-success btn-sm"> Add to Cart</a>
                      <form action="{% url 'delete' product.id %}" method="POST" class="d-inline">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-danger btn-sm" value="Delete" >
                      </form>
                      
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                  <tr><td colspan='5'><center>Yet to add a product.</center></td></tr>
              {% endif %}
              </tbody>
            </table>
            <div class='pagination'>
              {% for i in page_range %}
                <a style="margin-left: 5px; " href="#" class='page_link' data-item={{i}}>{{i}}</a>
              {% endfor %}
          </div>


        
  </div>
</div>
</div>
{% endblock body%}